@font-face {
	font-family: "Geist";
	src: url("/fonts/Geist.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/GeistMono.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

/* From https://github.com/withstudiocms/ui */

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

html {
	background-color: var(--bg-color, #0b0b0b);
}

html,
body {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: "Geist", Arial, Helvetica, sans-serif;
	font-size: var(--text-size-body, 1rem);
	line-height: var(--text-leading-body, 1.65);
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
	overflow-wrap: anywhere;
	font-family: "Geist Mono", "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: pretty;
	line-height: var(--text-leading-heading, 1.2);
	letter-spacing: var(--text-tracking-heading, -0.01em);
	font-weight: var(--text-weight-heading, 700);
	margin: 0 0 0.75rem;
}

button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

pre,
pre *,
code {
	font-family: "Geist Mono", "Courier New", Courier, monospace;
	line-height: 1;
}

pre {
	border: 1px solid var(--border-color);
	overflow-y: hidden;
	padding: 0.5rem;
	border-radius: 0.25rem;
}

pre.astro-code code {
	display: flex;
	flex-direction: column;
	font-size: var(--text-size-sm, 0.875rem);
	gap: 0.5rem;
}
